# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Eclipse Folders
.metadata/
.recommenders/